<!--<div *ngIf="">-->
<br>
<div class="container">
  <form role="form" (submit)="register()">
    <div class="row">Imie
      <input [(ngModel)]="patient.firstName" type="text" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="row">Nazwisko
      <input [(ngModel)]="patient.lastName" type="text" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="row">Data urodzenia
      <input [(ngModel)]="patient.birthDate" type="date" class="form-control" id="today" dataformatas="dd-mm-yyyy" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="row">E-mail
        <input [(ngModel)]="patient.email" type="email" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="row">Haslo
        <input [(ngModel)]="patient.password" type="password" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="row">
      <input type="file" id="file" (change)="fileInput($event)">
    </div>
    <br>
    <button class="btn btn-success">Zarejestruj</button>
  </form>
</div>
<!--<div class="container">-->
  <!--<div class="row">First name-->
    <!--<input [(ngModel)]="user.login" type="text" class="form-control">-->
  <!--</div>-->
  <!--<div class="row">Last name-->
    <!--<input [(ngModel)]="user.password" type="text" class="form-control">-->
  <!--</div>-->
  <!--<div class="row">Birth date-->
    <!--<input [(ngModel)]="user.email" type="text" class="form-control">-->
  <!--</div>-->
  <!--<div class="row">E-mail-->
    <!--<input [(ngModel)]="user.name" type="text" class="form-control">-->
  <!--</div>-->
  <!--<div class="row">Password-->
    <!--<input [(ngModel)]="user.vorname" type="text" class="form-control">-->
  <!--</div>-->
  <!--<br>-->
  <!--<div class="row">-->
    <!--<button class="btn btn-primary btn-block" (click)="send()">Send</button>-->
  <!--</div>-->
<!--</div>-->
<script type="text/javascript">
  function changeDate(){
    document.getElementById('today').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
  }
</script>
<!--</div>-->
