<app-main-navbar></app-main-navbar>
<div class="container">
  <div class="row">
    <div class="col-1">
      <p class="image"><img src="assets/img/avatar.png" width="120" height="120" align="middle"></p>
    </div>
    <div class="col-1" >
    <table class="table" align="middle">
      <thead>
      <tr>
        <th>Imie</th>
        <td>{{doctor.firstName.toString()}}</td>
      </tr>
      <tr>
        <th>Nazwisko</th>
        <td>{{doctor.lastName}}</td>
      </tr>
      <tr>
        <th>Specjalizacja</th>
        <td>{{doctor.specialisation}}</td>
      </tr>
      </thead>
    </table>
  </div>
  </div>
<app-schedule [appointment]="appointment"></app-schedule>
</div>
  <script type="text/javascript">
    function chooseDate(){
      document.getElementById('date').valueAsDate = new Date();
    }
  </script>
