<app-main-navbar></app-main-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="image">
        <img src="assets/images/avatar.png" width="130" height="130">
      </div>
      <div class="info">
        <p><b><i>{{doctor?.specialization}}</i></b></p>
        <p>{{doctor?.firstName}} {{doctor?.lastName}}</p>
      </div>
    </div>
    <div class="col-lg-6">
      <app-schedule [doctorId]="id" ></app-schedule>
    </div>
    <div class="col-lg-3">

    </div>
  </div>



</div>

