<!--<br>-->
<div class="container">
  <br>
  <div class="jumbotron" style="text-align: center">
    <h2>
      <b>
        Log in
      </b>
    </h2>
    <hr>
    <p><b style="color: red">{{message}}</b></p>
  </div>
  <form name="form" (submit)="login()">
  <div class="row">
    <div class="col">Login
      <input class="form-control" type="text" name="username" [(ngModel)]="form.username">
    </div>
    <div class="col">Haslo
      <input class="form-control" type="password" name="password" [(ngModel)]="form.password">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success btn-block">Zaloguj</button>
      <!--<button type="button" class="btn btn-outline-primary btn-block" (click)="navigateToEmployerLoginPage()">Pracownik</button>-->
    </div>
  </div>
  </form>
  <div class="row">
    <div class="col">

    </div>
  </div>

    <!--</div>-->
  <!--</div>-->
  <a href="/register">Nie masz konta? Zarejestruj się!</a>
</div>
  <!--<div class="row">-->
    <!--<ul>-->
      <!--<li>-->
        <!--<a href="/register">Create account!</a>-->
      <!--</li>-->
      <!--<li><div class="container">-->
        <!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>-->
          <!--<div [ngClass]="{ 'has-error': f.submitted && !username.valid }">-->
            <!--&lt;!&ndash;<label for="userName">Username</label>&ndash;&gt;-->
            <!--<input type="text"-->
                   <!--name="username" [(ngModel)]="model.username"-->
                   <!--#username="ngModel" required />-->
            <!--<div *ngIf="f.submitted-->
            <!--&& !username.valid">Username is required</div>-->
          <!--</div>-->
          <!--<div [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
            <!--&lt;!&ndash;<label for="password">Password</label>&ndash;&gt;-->
            <!--<input type="password"-->
                   <!--name="password" [(ngModel)]="model.password"-->
                   <!--#password="ngModel" required />-->
            <!--<div *ngIf="f.submitted-->
            <!--&& !password.valid">Password is required</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<button [disabled]="loading">Login</button>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
        <!--<a href="/asd">Forgot my password :( </a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

