<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navnar navbar-brand" href="/home" style="color: white;">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardropdown" style="color: white" role="button" aria-haspopup="true" aria-expanded="false">Dla pacjentow</a>
          <div class="dropdown-menu" aria-labelledby="navbardropdown">
            <a class="dropdown-item" href="#">Aktualnosci</a>
            <a class="dropdown-item" href="/doctors">Nasi lekarze</a>
            <a class="dropdown-item">Kontakt</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Cennik</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">O nas</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle ml-auto" data-toggle="dropdown" id="usernavbardropdown" style="color: white" role="button" aria-haspopup="true" aria-expanded="false">Konto</a>
          <div class="dropdown-menu" aria-labelledby="usernavbardropdown">
            <a class="dropdown-item" href="#">Informacje o koncie</a>
            <a class="dropdown-item" href="/login">Wyloguj się</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
