<app-main-navbar></app-main-navbar>
<body>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Nr</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Specjalizacja</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let doctor of doctorList">
        <tr>
          <th>{{doctor.doctorId}}</th>
          <th>{{doctor.firstName}}</th>
          <th>{{doctor.lastName}}</th>
          <th>{{doctor.specialisation}}</th>
          <th><button class="btn btn-info btn-sm" (click)="showDoctor(doctor)">Pokaz</button></th>
        </tr>
      </tbody>
    </table>

  </div>
</body>
